* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body {
  font-family: 'Special Elite', cursive;
  color: #fff;
  min-height: 100vh;
  background: #212534;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-rows: 40px 1fr 110px;
  grid-template-columns: 1fr 5rem;
  text-align: center;
}


header {
  grid-area: header;

}

main {
  grid-area: main;

}

aside {
  grid-area: aside;
  background-color: red;
}

footer {
  display: flex;
  justify-items: center;
  grid-area: footer;
  /*box-shadow: 0px -5px 10px rgb(0, 0, 0, 0.5);*/
  border-top: .1px solid #C0C0C0;
}

footer p {
  width: 10rem;
}


.box {
  border: 3px solid rgb(255, 0, 0);
  border-radius: 8px;
  width: 70px;
  height: 70px;
  transition: 1s;
  
}
.box:hover {
  border: 2px solid rgb(76, 0, 255);
  border-radius: 100%;
  animation-name: rotate;
  animation-duration: .5s;
  animation-direction: reverse;
  cursor: grab;
}


@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
