@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --Blue-Sky: #025b93;
  --white: #fff;
  --Pink-600: #ff014f;
  font-family: "Roboto", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ff003c00, #ff0088, #8800ff);
  border-radius: 5px;

  box-shadow: inset 2px 0px 6px 1px rgba(0, 187, 255, 0.642);
  border: none;
  outline: none;
}
