.navLink {
  width: 100%;
  height: 30px;
  display: flex;

  color: #fff;
  background-color: #333;

  justify-content: center;

  margin-top: 20px;

  transition: 0.3s;
}

.navLink:hover {
  color: #333;
  background-color: #fff;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;

  gap: 15rem;
}

.avatar {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.avatar img {
  border-radius: 50%;
  width: 70%;
}
.avatar div {
  margin-top: 18px;
}
