.MenuItens {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 1.5%;
}

.MenuItens ul li {
  position: relative;
  width: 3.75rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  background: #f3f3f4;
  width: 3rem;
  height: 3rem;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 2;

  border-radius: 30px;
}
.icons:hover {
  background-color: var(--background-color);
}

.text {
  transition-duration: 0.5s;
  font-family: metropolis-medium;
  font-size: 0.6875rem;
  color: #000;
  padding: 0 1.25rem;
  width: 10rem;
  line-height: 2.8125rem;
  position: absolute;
  right: -10rem;
  z-index: 1;
}
